body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    animation: discoBackground 5s infinite alternate; /* Adjust speed here */
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2.5em;
    color: white;
    margin: 0.2em 0;
    animation: fadeIn 2s ease-in-out;
}

.gif_container {
    margin: 1em 0;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes discoBackground {
    0% {
        background: linear-gradient(135deg, #DAF7A6, #fda085);
    }
    25% {
        background: linear-gradient(135deg, #fda085, #FFD700);
    }
    50% {
        background: linear-gradient(135deg, #FFD700, #40E0D0);
    }
    75% {
        background: linear-gradient(135deg, #40E0D0, #DAF7A6);
    }
    100% {
        background: linear-gradient(135deg, #DAF7A6, #fda085);
    }
}

@media only screen and (max-width: 768px) {
    .header_text {
        font-size: 2em;
    }
}

@media only screen and (max-width: 480px) {
    .header_text {
        font-size: 1.5em;
    }
}
